html {
    box-sizing: border-box;
}

* 
* ::after
* ::before {
box-sizing: inherit;
}

body {
    color: #151618;
    font-size: 20px;
    font-family: "open_sans", sans-serif;
    src: url(/fonts/Open_Sans/);
    font-weight: normal;
}

 a {
    text-decoration: none;
    color: inherit;
}

 ul {
    list-style: none;
}

 .container {
    margin: 0 auto;
    max-width: 1240px;
    padding-left: 20px;
    padding-right: 20px;
}

 .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 140px;
    padding: 30px 0;
 }

 .menu__list {
    display: flex;
    gap: 0 65px;
    font-size: 18px;
    align-items: center;
 }

 .user-action {
    display: flex;
    gap: 0 20px;
    align-items: center;
 }
 .user-actions__item-search {
    margin-left: 100px;
 }
 .top {
    background-image: url(../image/background_img.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
 }
 .top__inner {
    min-height: 500px;
    font-family: "cormorant", serif;
    src: url(/fonts/Cormorant/);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
 }
 .top__title {
    font-size: 60px;
    margin-bottom: 20px;
    max-width: 780px;
    font-weight: 300;
 }
 .top__text {
    max-width: 550px;
    font-weight: 10;
 }
 
.text {
    text-align: center;
    font-family: "cormorant", serif;
    src: url(/fonts/Cormorant/);
    font-style: italic;
    font-size: 40px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 150px;
    max-width: 700px;
    line-height: 50px;
    position: relative;
}

 .background_1 {
   background-image: url(/image/Rectangle\ 92.png);
   width: 350px;
   height: 60px;
   margin-left: 625px;
   margin-right: 400px;
   position: absolute;
margin-top: 50px;

}
.assortment{
   margin-top: 200px;
   
}

.title_2 {
   text-align: center;
   font-family: "cormorant", serif;
   src: url(/fonts/Cormorant/);
   font-size: 40px;
   font-weight: 300;
}
.tea_variety {
   display: flex;
   margin-top: 100px;
}
.tea{
  font-size: 50;
  font-family: "cormorant",serif;
  text-align: center;
}

.reviews {
   background-image: url(/image/bg_reviews.png);
   background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}
.clients_revies {
   display: flex;
   font-family: "cormorant", serif;
   justify-content: center;
   font-size: 40px;
   font-weight: 300;
}
.reviews_inner {
   display: flex;
}
 
.com {
   font-family: "open sans", serif;
   font-style: italic;
   font-size: 300;
   display: block;
}
.name_com {
   font-family: "open sans";
   font-weight: 600;
   display: block;
}
.blog {
   margin-bottom: 50px;
  
}
.our_blog {
   font-family: "cormorant", serif;
   text-align: center;
   font-size: 40px;
   font-weight: 300;
}
.elements_blog {
   margin-bottom: 50px;
}
.element1{
   display: flex;
   flex-wrap: wrap;
   gap: 0 20px;
}
.element2 {
   display: flex;
   flex-wrap: wrap;
   gap: 0 20px;
}
.element3 {
   display: flex;
   flex-wrap: wrap;
   gap: 0 20px;
   margin-top: 20px;
}
.element4{
   display: flex;
   flex-wrap: wrap;
   gap: 0 20px;
   margin-top: 20px;
}
.text_blog{
   font-family: "cormorant",serif;
   font-size: 20px;
   max-width: 200px;
}
.read{
   font-family: "open sans", serif;
   font-size: 13px;
}
.elements_blog {
   display: flex;
   flex-wrap: wrap;
   width: 1000px;
   justify-content:space-between;
  
}

.but {
   display: block;
   margin: 0 auto;
   border-color: black;
   border-width: 1px;
   padding-top: 12px;
   padding-left: 40px;
   padding-bottom: 12px;
   padding-right: 40px;
   font-family: "open sans", sans-serif;
   src: url(/fonts/Open_Sans/);
   font-size: 20px;
   font-weight: 1;
   background-color: none;
   background: transparent;
}
.bg_tea{
   position: absolute;
   right: 0px;
}

.email{
   background-color:  #F7F2EA;
   background-size: cover;
   height: 450px;
   justify-items: center;
   padding-top: 100px;
}
.email1{
   width: 1000px;
   padding-top: 0;
}
.know_more {
   font-family: "cormorant", serif;
   font-size: 40px;
   font-weight: 100;
}
 .subscription {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   gap: 0 50px;
 }
 .sub {display: flex;
   width: 2000px;
   height: 200px;
 }
 .subscription1 {
   font-family: "open sans", sans-serif;
   font-weight: 100;
   font-size: 20px;
   width: 600px;
   height: 120px;
   line-height: 30px;
 }
 .email_but {
display: flex;
flex-direction: row;
 }


 .checkbox_text{
   font-family: "open sans", sans-serif;
   font-weight: 100;
   font-size: 14px;
   width: 600px;
   height: 120px;
   margin-top: 20px;
   
 }
 .email_2 {
   font-family: "open sans", sans-serif;
   font-size: 25px;
   font-weight: 100;
   color: #B8B58B;
   height: 50px;
   width: 350px;
   border: none;
   background-color: transparent;
   color: inherit;
   outline: none;
   border-bottom: 1px solid #B8B58B;
   padding-top: 0px;
 }
 ::placeholder{
   color:  #B8B58B;
   font-weight: 100;
 }
 .but_email {
   display: block;
   margin: 0 auto;
   border-color: black;
   border-width: 1px;
   padding-top: 12px;
   padding-left: 40px;
   padding-bottom: 12px;
   padding-right: 40px;
   font-family: "open sans", sans-serif;
   src: url(/fonts/Open_Sans/);
   font-size: 20px;
   font-weight: 100;
   background-color: white;
   margin-top: 0;
   
 }
.top_prt {
   font-family: "cormorant", serif;
   text-align: center;
   font-size: 40px;
   font-weight: 200;
   
}
.prioritise{
   display: block;
   margin-top: 150px;
   margin-bottom: 150px;
}
.priority {
   display: flex;
   flex-wrap: nowrap;
   justify-content: space-between;
}
.text_prt {
   font-family: "open sans", sans-serif;
   font-size: 30px;
   }
.text2_prt {
   font-family: "open sans", sans-serif;
   font-size: 20px;
   font-weight: 600;
}
.prt1 {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.prt2 {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.prt3 {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.prt4 {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.img_prt {
   padding-top: 20px;
}
.footer {
   background: #F7F2EA;
   
}
.f_elements {
   display: flex;
   flex-wrap: nowrap;
   align-items: center;
   justify-content: space-around;
}

.h_products {
   font-family: "cormorant",serif;
   font-size: 26px;
   font-weight: 500;
}
.list_prod {
   font-family: "open sans", sans-serif;
   src: url(/fonts/Open_Sans/);
   font-size: 20spx;
   width: 150px;
   height: 250px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   padding-left: 0;
}
.h_comp {
   font-family: "cormorant", serif;
   font-size: 26px;
   font-weight: 500;
}
.prod_comp {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   
}
.list_comp {
   font-family: "open sans", sans-serif;
   src: url(/fonts/Open_Sans/);
   font-size: 20spx;
   width: 300px;
   height: 250px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   padding-left: 0;
}
.state_cont{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
.statement {
   font-family: "open sans", sans-serif;
   font-style: italic;
   font-size: 20px;
   font-weight: 100;
}
.contacts{
   width: 300px;
}
.stay {
   font-family: "cormorant";
   font-size: 26px;
   font-weight: 500;
}
.via {
   width: 350px;
}
.via2 {
   font-family: "open sans", sans-serif;
   font-size: 17px;
}
.logo_cont {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
.cont{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   height: 100px;
}
.social_network {
   width:150px ;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   margin-left: 150px;
}
.pay {
   width: 450px;
   display: flex;
   flex-direction: row;
justify-content: space-between;
}
.carts {
   width: 150px;
   display: flex;
   justify-content: space-between;
}